.ui.secondary.menu {
  padding: 0.75rem;
  background-color: #333;
}

.ui.secondary.menu .item {
  color: #fff;
  padding: 1.1rem;
}

/* #home.item:hover,
#about.item:hover,
#contact.item:hover,
#logout.item:hover {
  color: yellow;
  background-color: #444;
} */

.ui.secondary.menu > a.item:hover {
  color: yellow;
  background-color: #444;
}

.ui.secondary.menu a.item.active {
  color: yellow;
  background-color: #444;
}

.ui.menu .item > i.icon {
  transform: scale(1.5);
  color: #fff;
  border-bottom: 0px transparent solid;
}

.ui.vertical.sidebar {
  background-color: #333;
}
