.MuiStepConnector-vertical {
  display: none;
}

.MuiStepConnector-line {
  display: none;
}

.MuiStepIcon-root {
  color: #bdbdbd;
}

.MuiStepLabel-label.MuiStepLabel-active {
  font-weight: 500;
}

.activeStep .MuiStepLabel-root {
  color: #2196f3;
}

.completedStep .MuiStepLabel-root {
  color: #4caf50;
}

.disabledStep .MuiStepLabel-root {
  color: #bdbdbd;
}

.innerStepper {
  padding-left: 20px;
}
