.boxStepStyling {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .paperStepStyling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #333;
    width: 228px;
    height: 128px;
    gap: 10px;
  }
}

.boxCtaStyling {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 50px;
}
